.col-sm-12.col-md-4 {
  padding: 0;
}

.project-card {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
  opacity: 0;
  text-decoration: none;
  color: white;
  font-size: 22px;
  }
  &:hover {
    a {
      font-size: 32px;
      opacity: 1.0;
      text-shadow: 1px 1px $gray;
      transition: all 0.6s cubic-bezier(0.25, 0.1, 0.46, 6.09);
    }
    opacity: 0.8;
  }
}

.project-name-and-link {

}


