#footer-section {
  margin-top: 50px;
  height: 300px;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // position: relative;
}

.footer-content {
  padding-top: 30px;
  color: white;
}

.footer-my-name {
  padding-bottom: 15px;
  font-size:18px;
}

.last-update-date {
  font-size: 16px;
  // position: absolute;
  // bottom: 20px;
  margin-top: 60px;
}
