#home {
  background-color: $blue;
  color: white;
}

.home-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-content {
  text-align: center;
  i {
    color: white;
    margin: 5px;
    font-size: 25px;
    &:hover {
      opacity: 0.8;
      color: $gray;
      transition: 0.5s all ease;
    }
  }
}


