#home {
  background-color: $blue;
  color: white;
}

.home-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-content {
  text-align: center;
  i {
    color: white;
    margin: 5px;
    font-size: 25px;
    &:hover {
      opacity: 0.8;
      color: $gray;
      transition: 0.5s all ease;
    }
  }
}

.projects-header {
  height: 20vh;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  h3 {
    font-size: 45px;
  }
}

#about-me {
  background-color: white;
  h3 {
    padding-top: 20px;
    font-size: 40px;
  }
  .about-me-content {
    padding: 45px 5px;
    padding-bottom: 60px;
  }
}



