<div class="contact-me-form">
  <div class="container">
    <h3 class="text-center">Contact Me</h3>
    <div class="row">
      <div class="contact-me-icons">
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="contact-me-icon">
          <i class="fas fa-phone"></i>
          <span class="contact-format">Skype</span>
          <span class="contact-data"><%= data.users.first.skype_name %></span>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="contact-me-icon" id="my-location">
          <i class="fas fa-map-marker"></i>
          <span class="contact-format">Where am I?</span>
          <span class="contact-data"><%= data.users.first.location %></span>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0 col-md-4">
        <div class="contact-me-icon">
          <i class="fas fa-envelope-square"></i>
          <span class="contact-format">Email</span>
          <span class="contact-data"><%= data.users.first.email %></span>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="contact-me-form-fields" action="/">
        <div class="col-sm-12 col-md-6"><input type="text" placeholder="NAME" name="name"></div>
        <div class="col-sm-12 col-md-6"><input type="text" placeholder="EMAIL" name="email"></div>
        <div class="col-sm-12 col-md-12"><textarea placeholder="MESSAGE" name="message"></textarea></div>
        <div class="col-sm-12 col-md-12"><input type="submit" class="submit-button"></div>

      </form>
    </div>
  </div>
</div>
