<div class="contact-me-form">
  <div class="container">
    <h3 class="text-center">Contact Me</h3>
    <div class="row">
      <form class="contact-me-form-fields" action="/">
        <div class="col-sm-12 col-md-6"><input type="text" placeholder="NAME"></div>
        <div class="col-sm-12 col-md-6"><input type="text" placeholder="EMAIL"></div>
        <div class="col-sm-12 col-md-12"><textarea placeholder="MESSAGE"></textarea></div>
      </form>
    </div>
  </div>
</div>
