<div class="project-card">
  <div class="project-name-and-link">
    <%= link_to "#{project.name}", project.link %>
    <%= image_tag "#{project.image}", class: "project-card-image" %>
  </div>
</div>
