<div class="project-card" style="background: url(<%= image_path(project.image) %>); background-size: contain;
    background-position: center;
    background-repeat: no-repeat;">
  <div class="project-name-and-link">
    <%= link_to "#{project.name}", project.link %>
  </div>
</div>
