---
title: Reed Van Anrooy
---

<div id="home">
<div class="container home-banner">
  <div class="banner-content">
    <div class="my-key-words">
      <span>Web</span> <span>Developer</span>
    </div>
    <h1 class="my-name">Reed Van Anrooy</h1>
    <div class="social-logos">
      <a href="https://github.com/vananreed"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/reed-van-anrooy-97a884145/"><i class="fab fa-linkedin-in"></i></a>
      <a href="/contact.html"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</div>
</div>
<section id="portfolio">
  <div class="projects-header">
    <h3>projects</h3>
  </div>
  <div class="projects-section">
    <% data.projects.each do |project| %>
      <%= partial "project-card", locals: { project: project } %>
    <% end %>
  </div>
</section>
<section id="about-me">
  <h3>About Me</h3>
</section>
<section id="contact-me">
  <h3>Contact Me</h3>
  <form action="/">
    <input type="text" placeholder="NAME">
  </form>
</section>
