---
title: Reed Van Anrooy - Web Development
---

<div id="home">
  <div class="container home-banner">
    <div class="banner-content">
      <div class="my-key-words">
        <span>Web</span> <span>Developer</span>
      </div>
      <h1 class="my-name">Reed Van Anrooy</h1>
      <div class="social-logos">
        <a href="https://github.com/vananreed"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/reed-van-anrooy-97a884145/"><i class="fab fa-linkedin-in"></i></a>
        <a href="/contact.html"><i class="fas fa-envelope"></i></a>
      </div>
      <!-- <div class="banner-quote">The future is online, I can help you put it there.</div> -->
    </div>
  </div>
</div>
<section id="portfolio">
  <div class="projects-header">
    <h3>Projects</h3>
  </div>
  <div class="projects-section">
    <div class="row">
    <% data.projects.each do |project| %>
    <div class="col-sm-12 col-md-4"><%= partial "project-card", locals: { project: project } %></div>
    <% end %>
    </div>
  </div>
</section>
<section id="technologies">
  <div class="technologies-logos">
    <div class="tech-logo"><img src="images/html5.png" alt="reed-van-anrooy-html" id="logo-html"></div>
    <div class="tech-logo" ><img src="images/css3.png" alt="reed-van-anrooy-css" id="logo-css"></div>
    <div class="tech-logo"><img src="images/javascript.png" alt="reed-van-anrooy-javascript"></div>
    <div class="tech-logo"><img src="images/ruby.png" alt="reed-van-anrooy-ruby"></div>
    <div class="tech-logo"><img src="images/bootstrap.png" alt="reed-van-anrooy-bootstrap" id="logo-bootstrap"></div>
    <div class="tech-logo"><img src="images/rails.png" alt="reed-van-anrooy-rails"> </div>
    <div class="tech-logo"><img src="images/python.png" alt="reed-van-anrooy-python"></div>
  </div>
</section>
<section id="about-me">
  <div class="container">
    <h3 class="text-center">About Me</h3>
    <p class="about-me-content">Born and raised in southern Oregon, I grew up seeing the positive impact technology could have on people's lives. Always having an affinity for math and science, I began my career in biology, but quickly found I could automate the boring parts of my job with a little code. Pivoting into programming, I choose to focus on web development because of the wide range of projects I can work on, and the solutions I can bring to people of many different backgrounds and needs.</p>
  </div>
</section>
<section id="contact-me">
  <%= partial "contact-form" %>
</section>
<section id="footer-section">
  <div class="footer-content text-center">
          <div class="footer-my-name"><a href="#home"> Reed Van Anrooy</a></div>
    <div class="social-logos social-logo-small">
          <a href="https://github.com/vananreed"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/reed-van-anrooy-97a884145/"><i class="fab fa-linkedin-in"></i></a>
          <a href="/contact.html"><i class="fas fa-envelope"></i></a>
    </div>
          <div class="last-update-date">Last update November 2017</div>
  </div>
</section>
